<% if @game.player_attack.is_paralysed? %>
  <div>
     <%= @game.player_attack.name %> is paralysed and can't move
   </div>
<% else %>
  <div>
    <%= @game.player_attack.name %> attacked <%=@game.player_defense.name%>!
  </div>
  <div>
    <% if @game.player_defense.is_paralysed? %>
      <%= @game.player_defense.name %> was paralysed!
    <% end %>
  </div>
<% end %>
<div>
<form action = "/play" method = "get">
  <input id = "proceed" type = "submit" value = "Proceed" />
</form>
</div>
